@inject NavigationManager NavigationManager

@if (this.Server != null) 
{
	<li @key="Server.Id">
		@Server.Name in @Server.City is
		<span style="color:@(Server.IsOnline ? "green" : "red")">
			@(Server.IsOnline ? "online" : "offline")
		</span>
		&nbsp;
		@if (Server.IsOnline) {
			<button type="button" 
				class="btn btn-outline-danger"
					@onclick="@( () => {Server.IsOnline = false; } )">
				Turn Off
			</button>
		} else {
			<button type="button" 
				class="btn btn-outline-success"
					@onclick="@( () => {Server.IsOnline = true; } )">
				Turn On
			</button>
		}

		&nbsp;
		<a href="/servers/@(Server.Id)" class="btn btn-link">Edit</a>
		&nbsp;
		<EditForm Model="Server"
				  FormName="@($"form-server-{Server.Id}")"
				  OnValidSubmit="@(() => {DeleteServer(Server.Id);})">
			<button type="submit" class="btn btn-outline-primary">Delete</button>
		</EditForm>
	</li>
}

@code {
	[Parameter]
	public Server? Server { get; set; }
	private void DeleteServer(int id)
	{
		if (id > 0)
		{
			ServersRepositoryModels.DeleteServer(id);
			NavigationManager.NavigateTo("/servers", true);

		}
	}
}
